.TopImg {
  /* background-image: url('https://images.pexels.com/photos/2117938/pexels-photo-2117938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');  */
  /* background-repeat: no-repeat;
  background-attachment: local;
  background-size:auto;
  background-position: left left; */
  height: 100%;
  padding: 10rem 4rem;
  margin-right: 3rem;
  padding-left: auto;
  text-align: right;

}
#introduce{
  background-image: url('https://user-images.githubusercontent.com/6901805/58038897-167f0280-7ae6-11e9-94eb-88e880a25f0f.gif');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size:auto;
  background-position: left left;
}
.Topbg {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #757f9a,
    #d7dde8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #757f9a,
    #d7dde8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:100%
}
.ProjectCell2 {
  display: flex;
  height: 650px;
}
.ProjectPaper {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
}
.Summary {
  padding: 0.5rem;
  margin-right: auto;
  padding-left: 70%;
  color: rgb(54, 53, 53);
  font-size: 1.3rem;
}
.TopTitle {
  letter-spacing: 0.05em;
  height: "10rem";
  font-size: 4.25rem;
  font-weight: 100;
  padding-left: 32rem;
  text-shadow: 0 1px 0 rgb(100, 98, 98), 0 6px 1px rgb(0 0 0 / 10%),
    0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%),
    0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
  color: #ffffff;
  margin-top: -13rem;
}
.Navigation {
  position: sticky;
  z-index: 10;
  top: 0;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0;
  background-color: #1a1b1b;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 2.25rem;
  white-space: nowrap;
  color: #ffffff;
}
.ProjectCell1{
  display: flex;
  /* padding-left:5.5rem; */
  margin-top: -8rem;
  float:center;
}
.ProjectCell3{
  padding-left:5.5rem;
  margin-left: auto;
  padding-top: -10rem;
}
.projectTitle{
  background: linear-gradient( to bottom, #d8d8d8, #d8d8d8 );
  padding-left:5.5rem;
}
.summaryTitle{
  background: linear-gradient( to bottom, #999a9b, #999a9b );
  padding-top: 1rem;
  padding-left:5.5rem;
}
.videobg {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}
#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  }

