.TopImg{
  /* background-image: url('./resources/45088482.jpg'); */
  background-repeat: no-repeat;
  background-attachment : local;
  background-position: right right;
  height: 100%;
  padding: 11rem 4rem;
  padding-right: auto;
  padding-left: auto;
  background-color:gray;
}
.Summary{
  padding: 0.5rem;
  margin-right: auto;
  padding-left: 70%;
  background-color:rgb(163, 161, 161);
  color:rgb(54, 53, 53);
  font-size: 1.3rem;
}
.TopTitle{
  letter-spacing: -0.05em;
  font-size: 3.25rem;
  font-weight: 100;
  padding-left: 14rem;
  padding-left: 30rem;
  text-shadow: 0 1px 0 rgb(100, 98, 98), 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
  color: #ffffff;
}
.Navigation{
  position: sticky;
    z-index: 10;
    top: 0;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0;
    height: 2.5rem;
    background-color: rgba(128, 125, 125, 0.712);
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2.25rem;
    white-space: nowrap;
    color:rgb(47, 65, 59)
}